.button {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 22px;
  background: white;
}
// .job {
//   @extend .button;
//   width: 200px;
//   font-family: "Quicksand";
//   color: white;
//   background-color: #192030;
// }
