$sub-color:#8C8787;
$main-color: black;
$secondary-color:#635D5D;

@mixin shrinkLabel {
  top: -15px;
  left:2px;
  font-size: 12px;
  color: $sub-color;
}

input{
  padding:0 0 0 10px;
  color:$main-color
}
.group {
  position: relative;
  margin-top: 45px;

  .icon{
    position: absolute;
    top:8px;
    font-size: 1.25rem;
    color: $sub-color

    
  }
  
  .form-input {
    background: none;
    background-color: white;
    color: $secondary-color;
    font-size: 15px;
    padding: 10px 10px 1px 35px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid $sub-color;
    margin-bottom: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 40px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
    
    
  }
}
